<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verwaltung</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit:200" rel="stylesheet">
    <link rel="stylesheet" href="main.css">

</head>

<body>
<div id="root">
    <div class="row" style="margin:10px 5px 5px 5px">
        <div class="col-sm-4">
            <h5>Send Debug Message to DEV_CHAT</h5>
            <form class="form" onsubmit="handleMessage(event)">
                <input class="form-control form-control-sm" type="text" id="messageInput"
                       placeholder="Enter Message" style="max-width: 380px;">
            </form>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h5>Recent Connections: </h5>
            <table class="table table-dark table-sm">
                <colgroup>
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 80%;">

                </colgroup>
                <thead>
                <tr>
                    <th>Chat-ID</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody id="incommingMessagesBody">

                </tbody>
            </table>

        </div>
    </div>
</div>

<!--
<nav class="navbar fixed-bottom navbar-dark bg-dark">

</nav>
-->
</body>

<script src="main.js"></script>
</html>